[Unit]
Description=Minecraft server

After=network.target

[Service]
Type=forking

KillMode=none
SuccessExitStatus=0 1

User=minecraft
Group=minecraft

ProtectSystem=full
ProtectHome=true

WorkingDirectory=/opt/minecraft/server
ExecStartPre=/usr/bin/tmux new -s minecraft -d
ExecStart=/usr/bin/tmux send-keys -t minecraft start_server.sh ENTER
ExecStop=/usr/bin/tmux send-keys -t minecraft stop ENTER

[Install]
WantedBy=multi-user.target
